body {
  margin: 0;
}

nav.navbar {
  background-color: #fff;
  border-bottom: 1px solid #c9c9c9;
}

.navbar {
  overflow: hidden;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar img {
  width: 250px;
}

nav.navbar {
  padding: 0;
}

.navbar-nav {
  margin: 20px;
}

.btn-login {
  margin-bottom: 0;
  margin-top: 5px;
  background-color: #0d6efd;
  border: none;
  color: #fff;
  height: 40px;
  width: 60px;
  border-radius: 5px;
}

.btn-login-index {
  margin-bottom: 0;
  background-color: #0d6efd;
  border: none;
  color: #fff;
  height: 40px;
  width: 120px;
  border-radius: 5px;
}

a.navbar-brand {
  font-size: 24px;
}

.navbar-nav a {
  font-size: 20px;
  text-align: center;
}

.content {
  padding-top: 150px;
  text-align: center;
}

.content-beranda {
  text-align: start;
  padding-top: 150px;
  margin-bottom: 60px;
}

.text-study {
  font-weight: 600;
  background-color: #0a2647;
  border-radius: 30px;
  padding: 2px 20px;
  color: #fff;
}

.text-tracer {
  font-weight: 600;
}

.text-beranda {
  width: 60%;
}

.vektor {
  width: 40%;
  justify-content: center;
}

.berita {
  text-align: center;
}

.berita-chart {
  text-align: center;
}

.kontak img {
  width: 200px;
  height: 50px;
}

.cart-content {
  padding: 1px solid black;
}

form {
  padding-top: 100px;
}

.btn {
  margin-bottom: 100px;
}

.check_icon {
  width: 40px;
  height: 40px;
}

.btn_modal {
  background-color: #0d6efd;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 7px;
  width: 70%;
}

/* CSS ISI KUESIONER */
.next {
    width: 20%;
    margin-left: 10px;
}

@media screen and (max-width: 834px) {
  .btn-login {
    width: 100%;
  }

  .content {
    padding-top: 100px;
    text-align: center;
  }
}
